<h1>Listing accounts</h1>

<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Account Id</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.username %></td>
        <td><%= account.email %></td>
        <td><%= account.external_id %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
