<h1>Contas Docusign</h1>

<table class="table">
  <thead>
    <tr>
      <th>Usu&aacute;rio</th>
      <th>Email</th>
      <th>Id da Conta</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.username %></td>
        <td><%= account.email %></td>
        <td><%= account.external_id %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4", class="text-center"><%= link_to 'Nova Conta', accounts_new_path %></td>
    </tr>
  </tfoot>
</table>

<br>
