<h1>Listing rules</h1>

<table>
  <thead>
    <tr>
      <th>Rule</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.to_s %></td>
        <td><%= link_to 'Show', rule %></td>
        <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rule', new_rule_path %>
